<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>defaultHead</key>
	<dict>
		<key>shadowsCharacterChips</key>
		<array>
			<dict>
				<key>chipID</key>
				<integer>11</integer>
				<key>characterChipThreeAsset</key>
				<string>PS_Maximum_Anarchy.png</string>
				<key>characterChipTwoAsset</key>
				<string>PS_Crash_Bomb.png</string>
				<key>characterChipOneAsset</key>
				<string>PS_Crash_Potato.png</string>
				<key>chipAssetName</key>
				<string>CCZane.png</string>
				<key>characterName</key>
				<string>Captain Zane</string>
			</dict>
			<dict>
				<key>chipID</key>
				<integer>12</integer>
				<key>characterChipThreeAsset</key>
				<string>PS_Shadowswarm.png</string>
				<key>characterChipTwoAsset</key>
				<string>PS_Burnbarrow.png</string>
				<key>characterChipOneAsset</key>
				<string>PS_Shadow_Plague.png</string>
				<key>chipAssetName</key>
				<string>CCGwen.png</string>
				<key>characterName</key>
				<string>Gwen Grayson</string>
			</dict>
			<dict>
				<key>chipID</key>
				<integer>13</integer>
				<key>characterChipThreeAsset</key>
				<string>PS_Mistress&apos;s_Command.png</string>
				<key>characterChipTwoAsset</key>
				<string>PS_Always_in_Control.png</string>
				<key>characterChipOneAsset</key>
				<string>PS_Pleasure_&amp;_Pain.png</string>
				<key>chipAssetName</key>
				<string>CBPersephone.png</string>
				<key>characterName</key>
				<string>M. Persephone</string>
			</dict>
			<dict>
				<key>chipID</key>
				<integer>14</integer>
				<key>characterChipThreeAsset</key>
				<string>PS_Rocket_Punch.png</string>
				<key>characterChipTwoAsset</key>
				<string>PS_Cog_Engine.png</string>
				<key>characterChipOneAsset</key>
				<string>PS_Upgrade.png</string>
				<key>chipAssetName</key>
				<string>CCBBB.png</string>
				<key>characterName</key>
				<string>Bal-Bas-Beta</string>
			</dict>
			<dict>
				<key>chipID</key>
				<integer>15</integer>
				<key>characterChipThreeAsset</key>
				<string>PS_Wartime_Tactics.png</string>
				<key>characterChipTwoAsset</key>
				<string>PS_Double_Slash.png</string>
				<key>characterChipOneAsset</key>
				<string>PS_Riposte.png</string>
				<key>chipAssetName</key>
				<string>CCOnimaru.png</string>
				<key>characterName</key>
				<string>General Onimaru</string>
			</dict>
			<dict>
				<key>chipID</key>
				<integer>16</integer>
				<key>characterChipThreeAsset</key>
				<string>PS_Surgical_Strike.png</string>
				<key>characterChipTwoAsset</key>
				<string>PS_Acrobatics.png</string>
				<key>characterChipOneAsset</key>
				<string>PS_Stunlock.png</string>
				<key>chipAssetName</key>
				<string>CCVendetta.png</string>
				<key>characterName</key>
				<string>Vendetta</string>
			</dict>
			<dict>
				<key>chipID</key>
				<integer>17</integer>
				<key>characterChipThreeAsset</key>
				<string>PS_Saving_Grace.png</string>
				<key>characterChipTwoAsset</key>
				<string>PS_Healing_Touch.png</string>
				<key>characterChipOneAsset</key>
				<string>PS_Radiant_Healing.png</string>
				<key>chipAssetName</key>
				<string>CCGloria.png</string>
				<key>characterName</key>
				<string>Gloria Grayson</string>
			</dict>
			<dict>
				<key>chipID</key>
				<integer>18</integer>
				<key>characterChipThreeAsset</key>
				<string>PS_Deathstrike_Dragon.png</string>
				<key>characterChipTwoAsset</key>
				<string>PS_Into_Oblivion.png</string>
				<key>characterChipOneAsset</key>
				<string>PS_Bonecracker.png</string>
				<key>chipAssetName</key>
				<string>CBMenelker.png</string>
				<key>characterName</key>
				<string>Master Menelker</string>
			</dict>
			<dict>
				<key>chipID</key>
				<integer>19</integer>
				<key>characterChipThreeAsset</key>
				<string>PS_Beast_Unleashed.png</string>
				<key>characterChipTwoAsset</key>
				<string>PS_More_Shiny.png</string>
				<key>characterChipOneAsset</key>
				<string>PS_Giant_Growth.png</string>
				<key>chipAssetName</key>
				<string>CCTroq.png</string>
				<key>characterName</key>
				<string>Troq Bashar</string>
			</dict>
			<dict>
				<key>chipID</key>
				<integer>20</integer>
				<key>characterChipThreeAsset</key>
				<string>PS_Two_Truths.png</string>
				<key>characterChipTwoAsset</key>
				<string>PS_Patriot_Mirror.png</string>
				<key>characterChipOneAsset</key>
				<string>PS_Flagstone_Tax.png</string>
				<key>chipAssetName</key>
				<string>CCQuince.png</string>
				<key>characterName</key>
				<string>Sirus Quince</string>
			</dict>
		</array>
		<key>characterChips</key>
		<array>
			<dict>
				<key>chipID</key>
				<integer>1</integer>
				<key>characterChipThreeAsset</key>
				<string>PS_Rigorous_Training.png</string>
				<key>characterChipTwoAsset</key>
				<string>PS_Purge_Bad_Habits.png</string>
				<key>characterChipOneAsset</key>
				<string>PS_Dragon_Form.png</string>
				<key>chipAssetName</key>
				<string>CCMidori.png</string>
				<key>characterName</key>
				<string>Master Midori</string>
			</dict>
			<dict>
				<key>chipID</key>
				<integer>2</integer>
				<key>characterChipThreeAsset</key>
				<string>PS_Double-take.png</string>
				<key>characterChipTwoAsset</key>
				<string>PS_Bag_of_Tricks.png</string>
				<key>characterChipOneAsset</key>
				<string>PS_Speed_of_the_Fox.png</string>
				<key>chipAssetName</key>
				<string>CCSetsuki.png</string>
				<key>characterName</key>
				<string>Setsuki Hiruki</string>
			</dict>
			<dict>
				<key>chipID</key>
				<integer>3</integer>
				<key>characterChipThreeAsset</key>
				<string>PS_Troublesome_Rhetoric.png</string>
				<key>characterChipTwoAsset</key>
				<string>PS_No_More_Lies.png</string>
				<key>characterChipOneAsset</key>
				<string>PS_Pilebunker.png</string>
				<key>chipAssetName</key>
				<string>CCDeGrey.png</string>
				<key>characterName</key>
				<string>Jefferson DeGrey</string>
			</dict>
			<dict>
				<key>chipID</key>
				<integer>4</integer>
				<key>characterChipThreeAsset</key>
				<string>PS_It&apos;s_Time_for_the_Past.png</string>
				<key>characterChipTwoAsset</key>
				<string>PS_Future_Sight.png</string>
				<key>characterChipOneAsset</key>
				<string>PS_Research_&amp;_Development.png</string>
				<key>chipAssetName</key>
				<string>CCGeiger.png</string>
				<key>characterName</key>
				<string>Max Geiger</string>
			</dict>
			<dict>
				<key>chipID</key>
				<integer>5</integer>
				<key>characterChipThreeAsset</key>
				<string>PS_Unstable_Power.png</string>
				<key>characterChipTwoAsset</key>
				<string>PS_Burning_Vigor.png</string>
				<key>characterChipOneAsset</key>
				<string>PS_Playing_with_Fire.png</string>
				<key>chipAssetName</key>
				<string>CCJaina.png</string>
				<key>characterName</key>
				<string>Jaina Stormborne</string>
			</dict>
			<dict>
				<key>chipID</key>
				<integer>6</integer>
				<key>characterChipThreeAsset</key>
				<string>PS_Protective_Ward.png</string>
				<key>characterChipTwoAsset</key>
				<string>PS_Bubble_Shield.png</string>
				<key>characterChipOneAsset</key>
				<string>PS_Hex_of_Murkwood.png</string>
				<key>chipAssetName</key>
				<string>CCArgagarg.png</string>
				<key>characterName</key>
				<string>Argagarg Garg</string>
			</dict>
			<dict>
				<key>chipID</key>
				<integer>7</integer>
				<key>characterChipThreeAsset</key>
				<string>PS_Strength_of_Earth.png</string>
				<key>characterChipTwoAsset</key>
				<string>PS_Big_Rocks.png</string>
				<key>characterChipOneAsset</key>
				<string>PS_Stone_Wall.png</string>
				<key>chipAssetName</key>
				<string>CCRook.png</string>
				<key>characterName</key>
				<string>Garus Rook</string>
			</dict>
			<dict>
				<key>chipID</key>
				<integer>8</integer>
				<key>characterChipThreeAsset</key>
				<string>PS_Panda&apos;s_Bargain.png</string>
				<key>characterChipTwoAsset</key>
				<string>PS_Jackpot.png</string>
				<key>characterChipOneAsset</key>
				<string>PS_Living_on_the_Edge.png</string>
				<key>chipAssetName</key>
				<string>CCLum.png</string>
				<key>characterName</key>
				<string>Lum Bam-foo</string>
			</dict>
			<dict>
				<key>chipID</key>
				<integer>9</integer>
				<key>characterChipThreeAsset</key>
				<string>PS_Creative_Thoughts.png</string>
				<key>characterChipTwoAsset</key>
				<string>PS_Chromatic_Orb.png</string>
				<key>characterChipOneAsset</key>
				<string>PS_Three_Colors.png</string>
				<key>chipAssetName</key>
				<string>CCValerie.png</string>
				<key>characterName</key>
				<string>Valerie Rose</string>
			</dict>
			<dict>
				<key>chipID</key>
				<integer>10</integer>
				<key>characterChipThreeAsset</key>
				<string>PS_Versatile_Style.png</string>
				<key>characterChipTwoAsset</key>
				<string>PS_Martial_Mastery.png</string>
				<key>characterChipOneAsset</key>
				<string>PS_Reversal.png</string>
				<key>chipAssetName</key>
				<string>CCGrave.png</string>
				<key>characterName</key>
				<string>Grave Stormborne</string>
			</dict>
		</array>
	</dict>
</dict>
</plist>
